**/target

/.*

# ignore everything inside tests/ recursively
/tests/**

# re‑include directories so git can descend into them
!/tests/**/

# re‑include only .rs and .nyx files
!/tests/**/*.rs
!/tests/**/*.nyx
